// reset
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

// root
:root {
    font-size: $basic-font-size;
    background: $color-white;
}

// heading
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.2;

    font: {
        family: $font-basic, sans-serif;
        weight: normal;
    }
}

// link
a {
    color: $color-black;
    background-color: transparent;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &:active,
    &:hover {
        outline: 0;
    }
}

// text
em {
    font-style: normal;
}

strong {
    font-weight: normal;
}

p,
dl,
ol,
ul {
    word-break: keep-all;
}

//img 
img {
    border: 0;
    vertical-align: top;
    width: 100%;
}

//table
table {
    border: 0;

    border: {
        collapse: collaspe;
        spacing: 0;
    }

    width: 100%;
}

//list-style
li,
ul {
    list-style: none;
}